html {
    --grey: #e7e7e7;
    --navy-blue: #0e2240;   
    --red: #882131;
    --gold: #fec524;
    --blue: #1D428A;
    --text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    --box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    font-size: 75%;
    font-family: 'Black Ops One', cursive;
    box-sizing: border-box;
  }

  
  body {
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--navy-blue);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 21.184c.13.357.264.72.402 1.088l.661 1.768C4.653 33.64 6 39.647 6 50c0 10.271-1.222 15.362-4.928 24.629-.383.955-.74 1.869-1.072 2.75v6.225c.73-2.51 1.691-5.139 2.928-8.233C6.722 65.888 8 60.562 8 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C1.352 19.098.601 16.913 0 14.85v6.335zm20 0C17.108 13.258 16 8.077 16 0h2c0 5.744.574 9.951 2 14.85v6.334zm0 56.195c-2.966 7.86-4 13.123-4 22.621h2c0-6.842.542-11.386 2-16.396v-6.225zM6 0c0 8.44 1.21 13.718 4.402 22.272l.661 1.768C14.653 33.64 16 39.647 16 50c0 10.271-1.222 15.362-4.928 24.629C7.278 84.112 6 89.438 6 100h2c0-10.271 1.222-15.362 4.928-24.629C16.722 65.888 18 60.562 18 50c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C9.16 13.223 8 8.163 8 0H6z' fill='%23fff' fill-rule='nonzero' fill-opacity='.1' opacity='.349'/%3E%3C/svg%3E%0A");
    background-size: 15px;
    color: white;
  }

  p {
      font-size: 1.5rem;
      color: var(--gold);
      text-align: center;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 2rem;
      font-size: 15px;
  }
  header img {
      width: 200px;
  }

  .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      padding: 2rem;
  }

  .card {
      background:var(--gold);
      padding: 1rem;
      border-radius: 2%;
      box-shadow: 3px 4px 5px var(--red);
      
  }

  .card img {
      width: 100%;
      border-radius: 2%;
  }

  .card h2 {
      color: var(--blue);
  }

  .card button {
      background-color: var(--red);
      color: white;
      border: none;
      text-align: center;
      padding: 5px 10px;
      display: inline-block;
      font-size: 12px;
      border-radius: 5%;
  }

  .modal-outer {
      display: grid;
      background: hsla(0, 0%, 60%, 0.8);
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      /* hide this modal until we need it */
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
  }

  .modal-outer.open {
      opacity: 1;
      pointer-events: all;
  }

  .modal-inner {
    width: 75vw;
    max-width: 400px;
    min-height: 500px;
    background: var(--red);
    border-radius: 2%;
    padding: 1rem;
    box-shadow: 3px 4px 5px var(--blue) ;
    transform: translateY(200%);
    transition: transform 1s;
  }

  .modal-outer.open .modal-inner {
      transform: translateY(0);
  }

  .modal-inner img {
    width: 100%;
    border-radius: 2%
  }

